
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3563cede; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3564ce; 
}

.nav-item a{
    color: #000;
    font: 600 0.875rem/0.875rem "Raleway", sans-serif;
}

h1 {
    color: #000;
    font-size: -webkit-xxx-large;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -2px;
    position: relative;
    margin-bottom: 25px;
    line-height: 50px;
    position: relative;
}

p {
    color: #999;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
}

.header-ai a{
    padding-top: 10px;
}

.card{
      padding: 10px 0 10px 0;
      margin: 5px 0 10px 0;
}

.about-btn {
    font-weight: 500;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    border: 2px solid #8382fe;
    display: inline;
    background-image: -webkit-linear-gradient(0deg, #393c8b 0%, #3569d6 100%);
    font-size: 18px;
    color: #fff;
    border-radius: 50px;
    text-decoration: none !important;
}


/* */
.app-features h4 {
    text-transform: none;
    font-weight: 500;
    color: #666;
    margin-top: 10px;
    margin-bottom: 10px;
}
.heading_main h2 span {
    color: #0aceb1;
}

.app-features li{
    list-style: none;
    padding: 10px 0 10px 0;
}

.app-features li:hover h4{
      color: #0aceb1;
}

.app-features li:hover p{
      color: #000000;
}

#work{
  background-color: #ffffff;
}

.work-box {
    margin-bottom: 3rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
}

.work-content {
    padding: 2rem 3% 1rem 4%;
}

.work-box {
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.work-img {
    display: block;
    overflow: hidden;
    width: 300px;
}

.work-box:hover .work-img img {
    transform: scale(1.3);
    transition-duration: 2s;
}

#Contact {
    color: #fff;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,42,194,1) 0%, rgba(58,58,215,1) 21%, rgba(68,68,219,1) 37%, rgba(6,123,167,1) 53%, rgba(5,100,181,1) 62%, rgba(4,119,193,1) 70%, rgba(3,142,209,1) 80%, rgba(2,156,218,1) 84%, rgba(0,212,255,1) 100%);
}

#Contact a{
    color: #fff;
    text-decoration: none;
}

/* */
.whatsapp {
    position: fixed;
    display: inline;
    bottom: 15px;
    background: #2e414d00;
    position: fixed;
    color: #fff;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    left: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}